/* Reset and Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8dc;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

/* Navigation */

ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #6c0345;
}

li a {
  text-decoration: none;
  color: #dc6b19;
  font-weight: bold;
}

li a:hover {
  color: #f7c566;
}

/*Typography*/

h1 {
  font-style: italic;
  font-size: 48px;
  font-family: "Lora", serif;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #6c0345;
}

h2 {
  font-family: "Playfair Display", serif;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: #dc6b19;;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 0.5rem;
  text-align: center;
}

img {
    width: 45%;
    max-width: 400px;
    height: auto;
  }

.section-container {
  padding-right: 8rem;
  padding-left: 8rem;
}

.map-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===== Gallery Section ===== */
.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 8rem; /* Matches your section-container padding */
}

.gallery-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
